body {
    font-family: Poppins, sans-serif;
    background: #c2e0af;
}
.heading{
    text-align: center;
}
.content {
    text-align: center;
}
.content li{
    display: inline;
    margin: 20px;
    font-size: 24px;
}

img {
    height: auto;
    width: 300px;
}